/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: white;
}

.paticka {
	text-align: center;
	font-size: 14px;
	color: silver;
}

.paticka a {
	color: silver;
}

/* -------------------------------------------------- */

/*
Responzivní breakpointy:
Mobil:		0 - 479px
Tablet:		480px - 859px
Počítač:	860px a víc

Chrome a některé další prohlížeče nejdou zmenšit pod určitou šířku, takže je možné, že ti nepůjde zmenšit tolik, aby se aktivovala mobilní verze. Pokud se ti to stane, změň si v kódu hranici mezi mobilem a tabletem třeba na 600px, nebo aktivuj v prohlížeči vývojářské nástroje s mobilním náhledem, kde může nastavovat jakoukoliv velikost (i malou).

Obrázky pro jednotlivé recepty jsou ve složce images.
Nastav je receptům jako obrázky na pozadí (tj. nepřidávej je jako <img> do HTML)

Na rozložení prvků NEPOUŽÍVEJ absolutní pozicování, ale pouze flexboxy.
Flexboxy mohou být vnořené do sebe, klidně několikrát.
*/

h1,
h2 {
	font-family: 'Raleway', sans-serif;;
	font-weight: 800;
	text-align: left;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 18px;
}
.meal {
	background-size: cover;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 1px;
}

.main {
	background-image: url(images/salat.jpg);
	background-position: center;
	min-height: 200px;
}

.just {
	min-height: 90px;
	background-position: center;
}

.mexico {
	background-image: url(images/tacos.jpg);
}

.beans {
	background-image: url(images/cizrna.jpg);
}

.burgers {
	background-image: url(images/burger.jpg);
}

.brunch {
	background-image: url(images/chlebicek.jpg);
}

.mealtype {
	text-align: left;
}

.comments {
	text-align: right;
}

.upper{
	display: flex;
	justify-content: space-between;
}

@media screen and (min-width: 480px) {
	
}

